
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
.sidebar{
  background-color: white;
  color: #222;
}
body {
  background: linear-gradient(to bottom, #f5d90b, #16ab74);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
